*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(imagens/fundo.png) repeat-x;
}


#pricipal{
	width: 750px;
	margin: 0px auto;
	
	
}

#topo{
	
    margin: 0 270px;
    height: 178px;
	padding-top: 20px;
	background: url(imagens/detalhe-topo.png) no-repeat right top;
}

.logo{
	width: 152px;
	height: 66px;
	background:  url(imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}


ul{
	padding: 0px;
	margin: 0px;
	list-style: none;

}

#topo ul {
	margin-top: 30px;
	background: #b10333;
	float: left;
	
	
}

#topo ul li{
	float: left;
}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #FFF;
	background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
	background: none;
}

#topo ul a:hover{
	color: #69001d;

}

body.home #navegacao a#home,
body.brail #navegacao a#brail,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos{


	color: #FFF;
	background: #de003e;
	cursor: text;

}

#conteudo{
	background: #f5f5f5;
	margin-top: 70px;
	width: 837px;
	margin: 34px auto;
	clear: both;

}

#primario{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
	

}

#segundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
	
	
}

#lateral{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
	
}

#rodape-Container{
	background: #294c71;
	padding: 20px;

}

#rodape{
	width: 750px;
	margin: 0 auto;
	color: #fff;
}

#tres-Colunas #primario{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
	
}

#duas-Colunas #primario{
	width: 555px;
	
}

#uma-Coluna #primario{
	width: 750px;
	margin: 0 0 20px 0px;
	
}

.caixa{
	background: #f3f3f3 url(imagens/fundo-caixa.png);
	margin: 10px 0px;
	padding: 5px;

}

h2{
	font-size: 1.0em;
	background: #294c71;
	color: #fff;
	padding: 5px;

}

.caixa-conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}

#lateral ul a{

	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border: 1px solid #f3f3f3;

}

#lateral ul a:hover{
	color: #a1a1a1;
	background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
	padding-left: 20px;
}

label{
	display: block;
	cursor: pointer;

}

input{
	padding: 5px;
	width: 125px;
	font-size: 0.9em;
	background-color: #fff;
}

input.submit{

	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
	padding: 5px;

}



img.imagem-principal{
	width: 98%
	border 3px solid #dfdfdf;

}

h3{
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 9px;

}

.destaque h3{
	background: #b10333;
	color: #fff;

}

.entrevista h3{
	background: #C0C0C0	;
	color: black;

}

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;

}

#lista-noticias li a h3{
	 text-decoration: none;
	 padding: 0px;
	 color: #3e7ab9;
	
	
}

#lista-noticias li a p{

	 font-size: 0.7em;
	 color: black;
	
 }

 #lista-noticias li:hover {

	background: #DCDCDC	;
	cursor: pointer;	
 }

a:link , a:visitid {
	color: #b10333;
	padding: 2px;
}

a:hover{
	color: #e50040;

}

